
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(166, 186, 252);
  padding: 0 5%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
}

.navItem {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1rem;
}

.navItem:hover {
  color: blue;
  cursor: pointer;
}

nav h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
}

@media only screen and (max-width: 600px) { /* create a media query for screens smaller than 600px */
  .header {
    flex-direction: column; /* change the flex direction to column */
  }

  .menu {
    width: 100%; /* set width to 100% to ensure items fill the entire header */
  }

  .navItem {
    font-size: 1.2rem; /* reduce the font size of the menu items */
    padding: 0.5rem; /* adjust the padding to create space around the items */
  }

  nav h1 {
    padding: 1rem; /* add padding to create space around the h1 */
  }
}

/* about */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  padding-bottom: 100px;


}

.about p {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 20px;
}

.pic {
  width: 60%;
  border-radius: 10%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about {
    flex-direction: column; /* Switch to a vertical layout */
    text-align: center; /* Center the text */
  }

  .picContainer {
    margin: 50px 0; /* Reduce the margin */
    padding-bottom: 0;
  }

  .about p {
    width: 80%; /* Make the text wider */
    margin: 20px 0; /* Add some space between the text and the image */
  }
}

/* portfolio projects page */
.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30%;
}
.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.project-link {
  display: block;
  width: 600px;
}

.project-link img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* footer */
footer div {
  background-color: rgb(166, 186, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;


}

footer div a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1rem;
}
footer div a:hover {
  color: blue;
}

@media only screen and (max-width: 600px) {
  footer div {
    height: 3rem;
  }
  footer div a {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

/* contact */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-container {
  text-align: center;
  width: 400px;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-control {
  height: 20px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-section textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.contact-container div{
  margin-top: 20px;
}

.form-button {
  background-color: blue;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
}
.form-button:hover {
  color: whitesmoke;
  background-color: rgb(74, 74, 255);
}

@media only screen and (max-width: 600px) { /* create a media query for screens smaller than 600px */
  .form-container {
    width: 90%; /* set the width of the form-container to 90% */
  }
}

/* resume */
.resume {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-left: 10%;
  margin-bottom: 10%;
}

/* download my resume with no underline with hover that changes color to blue */
.resume a {
  text-decoration: none;
  color: blue;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 1rem;
}
.resume a:hover {
  color: rgb(102, 102, 255);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 0 1rem;
}

.front-end {
  padding: 0 3rem;
}

.back-end {
  padding: 0 3rem;
}